
html,body{
  font-family: 'Cormorant Garamond', serif !important;
  background-color: #F8F8F8 !important;
}
.navbar{
  background-color: #fff;
  width: 100%;

}

.logo{
  width: 60px;
  height: 60px;
}